{% extends 'layout.twig' %}

{% block content %}
    <div class="person">
        <div class="person__header">
            {% if imageUrl is defined %}
                <img src="{{ imageUrl }}?w=240" />
            {% endif %}

            <h1>{{ name }}</h1>
        </div>

        <h2>Acted in</h2>
        <ul class="list">
        {% for movie in actedIn %}
            <li>
                <a href="{{ path('movie', {id: movie._id}) }}">
                    {% if movie.posterUrl is defined %}
                        <img src="{{ movie.posterUrl }}?w=240" />
                    {% endif %}

                    <div>
                        {{ movie.title }} ({{ movie.releaseDate|date("Y") }})
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
